<div id="author" class="author">
  <div style="display: grid; grid-template-columns: repeat(5,1fr);grid-column-gap: 20px; grid-row-gap: 0;">
    <div class="author-image">
      <a href="/">
        <img class="profile-image" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" />
      </a>
    </div>
    <div class="author-bio">
      <a href="/">
        <div class="name"><span>{{primary_author.name}}</span></div>
      </a>
      {{>social}}

      {{#if primary_author.location}}
      <div class="location">{{primary_author.location}}</div>
      {{/if}}
      <!--       <div class="link">
        <a class="website" href="{{primary_author.website}}" title="{{primary_author.name}}">{{@blog.url}}</a>
      </div> -->
      <div class="address">{{primary_author.bio}}</div>
      <span class="description typeit typewrite" data-period="3000" data-type='[ "{{@blog.description}}" ]' aria-label="cesar.velandia.co">
        <span class="wrap"></span>
      </span>
    </div>
  </div>
</div>