<div id="author" class="author">
    <img class="profile-image" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" />
    <p class="name">
      <span>{{primary_author.name}}</span>
    </p>
    {{!-- {{#if primary_author.location}}
      <p class="address">{{primary_author.location}}</p>
    {{/if}}     --}}
    {{!-- <p class="link">
      <a class="website" href="{{primary_author.website}}" title="{{primary_author.name}}">{{@blog.url}}</a>
    </p> --}}
    <span class="description typeit typewrite" data-period="3000" data-type='[ "{{@blog.description}}" ]' aria-label="cesar.velandia.co" style="background-color: #fff;">
    	<span class="wrap"></span>
    </span>
	{{>social}}
</div>
