{{!< default}} <div class="container clearfix">
    <main role="main" class="content">
        <div class="post no-index">
            <h1>📚 {{meta_title}} </h1>
            <code>{{meta_description}}</code>
        </div>
        <hr/>
		<div class="notes-grid">
                {{#get "posts" limit='all' include="tags" filter="tags:books" order="tags ASC"}}
                {{#foreach posts}}
                <article class="{{post_class}}">
                    <div class="post-excerpt">
                      <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
                      <div class="post-info">
                        <div class="post-meta">
                          {{tags from="2" separator=" " prefix=""}}
                        </div>
                      </div>
                      <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
                    </div>
                  </article>
                {{/foreach}}
                {{/get}}
         </div>
    </main>
    </div>
