<!doctype html>
<html class="no-js" lang="en" data-user-color-scheme="light">
	<head>
		{{!-- Document Settings --}}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		{{!-- dark-mode --}}
		<script>
		// =====================
		// https://hankchizljaw.com/wrote/create-a-user-controlled-dark-or-light-mode/
		// =====================
		var user_color_scheme = localStorage.getItem('user-color-scheme');
		function initial_mode_set(mode) {
		if (mode) {
		document.documentElement.setAttribute('data-user-color-scheme', mode);
		}
		}
		initial_mode_set(user_color_scheme);
		window.addEventListener('DOMContentLoaded', (event) => {
		document.documentElement.classList.remove('no-js');
		var STORAGE_KEY = 'user-color-scheme';
		var COLOR_MODE_KEY = '--color-mode';
		var modeToggleButton = document.querySelector('.js-mode-toggle');
		//var modeToggleText = document.querySelector('.js-mode-toggle-text');
		var modeStatusElement = document.querySelector('.js-mode-status');

		var getCSSCustomProp = function getCSSCustomProp(propKey) {
		var response = getComputedStyle(document.documentElement).getPropertyValue(propKey);
		if (response.length) {
		response = response.replace(/\"/g, '').trim();
		}
		return response;
		};
		var applySetting = function applySetting(passedSetting) {
		var currentSetting = passedSetting || localStorage.getItem(STORAGE_KEY);
		if (currentSetting) {
		document.documentElement.setAttribute('data-user-color-scheme', currentSetting);
		//        setButtonLabelAndStatus(currentSetting);
		}
		//	  else {
		//        setButtonLabelAndStatus(getCSSCustomProp(COLOR_MODE_KEY));
		//      }
		};
		/*
		var setButtonLabelAndStatus = function setButtonLabelAndStatus(currentSetting) {
		modeToggleText.innerText =  "Enable ".concat(currentSetting === 'dark' ? 'light' : 'dark', " mode");
		};
		*/
		var toggleSetting = function toggleSetting() {
		var currentSetting = localStorage.getItem(STORAGE_KEY);
		switch (currentSetting) {
		case null:
		currentSetting = getCSSCustomProp(COLOR_MODE_KEY) === 'dark' ? 'light' : 'dark';
		break;
		case 'light':
		currentSetting = 'dark';
		break;
		case 'dark':
		currentSetting = 'light';
		break;
		}
		localStorage.setItem(STORAGE_KEY, currentSetting);
		return currentSetting;
		};
		modeToggleButton.addEventListener('click', function (evt) {
		evt.preventDefault();
		applySetting(toggleSetting());
		});
		applySetting();
		});
		</script>

		{{!-- Base Meta --}}

		<title>{{meta_title}} | {{@blog.title}}</title>
		{{^is "index"}}
			<meta name="twitter:image" content="https://res.cloudinary.com/cdvel/image/upload/w_2000,c_fit,co_rgb:232129,l_text:lato_140_alignment_center:{{meta_title}}/v1614691738/media/w_banner.webp">
			<meta name="og:image" content="https://res.cloudinary.com/cdvel/image/upload/w_2000,c_fit,co_rgb:232129,l_text:lato_140_alignment_center:{{meta_title}}/v1614691738/media/w_banner.webp">
		{{/is}}

		<meta name="HandheldFriendly" content="True" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{!-- Styles'n'Scripts --}}
		<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
		<link href="{{asset "css/typography.css"}}" rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{asset "css/styles.css"}}">
		{{ghost_head}}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/night-owl.min.css" crossorigin="anonymous">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js" crossorigin="anonymous"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js" integrity="sha256-CfQUUe5nCr0s8VaB1dPISX25JmwUHVRabMji+YUFUS4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css" integrity="sha256-XUbSD3m+xLW27W/mp9kMn+fI9AU2MoBkiMMSVVYWI+o=" crossorigin="anonymous" />
		<script type="text/javascript" crossorigin="anonymous">
		  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
		  heap.load("4131685351");
		</script>
	</head>
	<body class="{{body_class}}">
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<header class="site-header">
			<div>
				<a class="quote-header ir" href="#" aria-label="quote header">
					<div class="main-title"><label id="main-quote"></label></div>
					<div class="main-title" style="font-size: 20px;"><label id="main-quote-author"></label></div>
				</a>
			</div>

		</header>
		{{#is "index"}}
			<div>
				{{#get "posts" limit="1" include="authors"}}
				{{#foreach posts}}
				{{> author}}
				{{/foreach}}
				{{/get}}
			</div>
		{{/is}}
			<div class="header-title">
				<img style="height: 40px;" src="{{@site.logo}}" />
				<a href="/"> {{@blog.title}}</a>
			</div>
		{{navigation}}
		{{{body}}}
		<footer class="main-footer">
			<div class="container clearfix">
				<a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
				<p>
					<a href="{{@blog.url}}" title="{{@blog.title}}">
						{{@blog.title}}&copy; <script>document.write(new Date().getFullYear())</script>
					</a>
				</p>
			</div>
			<div style="display: grid; grid-template-columns: repeat(2, 1fr);">
			<div alt="toggle dark mode" style="text-align: center;">
				<div role="status" class="[ visually-hidden ][ js-mode-status ]"></div>
				<button class="[ toggle-button ] [ js-mode-toggle ]">
				<span class="toggle-button__icon" aria-hidden="true" aria-label="toggle dark mode">
					<svg viewBox="0 0 24 24" style="fill: var(--text-color);">
					<path d="M12 23.5a.5.5 0 01-.5-.5v-4.521a6.497 6.497 0 01-3.726-1.546l-3.198 3.198a.5.5 0 11-.708-.707l3.198-3.198A6.497 6.497 0 015.52 12.5H1a.5.5 0 010-1h4.521a6.497 6.497 0 011.546-3.726L3.869 4.576a.5.5 0 01.708-.707l3.198 3.198a6.517 6.517 0 012.518-1.337l.017-.004a6.543 6.543 0 011.191-.205V1a.5.5 0 011 0v4.521a6.497 6.497 0 013.726 1.546l3.198-3.198a.5.5 0 11.708.707l-3.198 3.198a6.497 6.497 0 011.546 3.726H23a.5.5 0 010 1h-4.521a6.497 6.497 0 01-1.546 3.726l3.198 3.198a.5.5 0 01-.708.707l-3.198-3.198a6.497 6.497 0 01-3.726 1.546V23a.499.499 0 01-.499.5zM9.67 7.019A5.52 5.52 0 006.5 12c0 3.033 2.467 5.5 5.5 5.5a5.483 5.483 0 004.626-2.531 6.478 6.478 0 01-3.123-.465 6.46 6.46 0 01-3.514-3.522 6.498 6.498 0 01-.319-3.963zm1.163-.393a5.47 5.47 0 00.081 3.975 5.467 5.467 0 002.973 2.98 5.53 5.53 0 003.283.291c.219-.602.33-1.231.33-1.872a5.506 5.506 0 00-6.667-5.374z"></path>
				</svg>
			</span>
			<span style="font-size: x-small;line-height: 2rem;padding-left: 5px;">Dark mode</span>
			</button>
			</div>
			<div style="cursor: pointer; text-align: center; letter-spacing: 0px; font-size: 22px;" onclick="window.scrollTo(0, 0);">
				<span style="font-size: x-small;line-height:2rem;display:inline-block;vertical-align:bottom; padding-right: 5px;">Back to top</span>
				<span class="toggle-button__icon" aria-hidden="true" aria-label="toggle dark mode">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="fill: var(--text-color);"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M86,6.88c-43.65844,0 -79.12,35.46156 -79.12,79.12c0,43.65844 35.46156,79.12 79.12,79.12c43.65844,0 79.12,-35.46156 79.12,-79.12c0,-43.65844 -35.46156,-79.12 -79.12,-79.12zM86,13.76c39.93625,0 72.24,32.30375 72.24,72.24c0,39.93625 -32.30375,72.24 -72.24,72.24c-39.93625,0 -72.24,-32.30375 -72.24,-72.24c0,-39.93625 32.30375,-72.24 72.24,-72.24zM85.6775,41.1725c-0.14781,0.02688 -0.29562,0.06719 -0.43,0.1075c-0.1075,0.02688 -0.215,0.06719 -0.3225,0.1075c-0.1075,0.02688 -0.215,0.06719 -0.3225,0.1075c-0.22844,0.12094 -0.44344,0.26875 -0.645,0.43c-0.14781,0.09406 -0.29562,0.20156 -0.43,0.3225c-0.16125,0.16125 -0.30906,0.34938 -0.43,0.5375l-27.09,26.9825c-1.37062,1.37063 -1.37062,3.57438 0,4.945c1.37063,1.37063 3.57438,1.37063 4.945,0l21.6075,-21.6075v74.175c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344v-74.175l21.6075,21.6075c1.37063,1.37063 3.57438,1.37063 4.945,0c1.37063,-1.37062 1.37063,-3.57437 0,-4.945l-27.09,-26.9825c-0.25531,-0.38969 -0.57781,-0.71219 -0.9675,-0.9675c-0.38969,-0.26875 -0.83312,-0.44344 -1.29,-0.5375c-0.30906,-0.08062 -0.645,-0.12094 -0.9675,-0.1075z"></path></g></g></svg>
			</div>
			<div>
		</footer>
		{{ghost_foot}}
		<script src="{{asset "js/main.js"}}"></script>
		<script>
		var images = document.querySelectorAll('.kg-gallery-image img');
		images.forEach(function (image) {
		var container = image.closest('.kg-gallery-image');
		var width = image.attributes.width.value;
		var height = image.attributes.height.value;
		var ratio = width / height;
		container.style.flex = ratio + ' 1 0%';
		})
		</script>
	</body>
</html>