{{!< default}}
<div class="container clearfix">
  <main role="main" class="content">
    <h2 class="section-title">Latest writing</h2><a class="view-all" href="/writing">view all writing ▷</a>
    {{#foreach posts limit="5"}}
    <article class="{{post_class}}">
        <div class="post-excerpt">
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}

    <h2 class="section-title">Latest book notes</h2><a class="view-all" href="/books">view all notes ▷</a>
    {{#get "posts" include="tags" limit='5' filter="tags:books"}}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <div class="post-excerpt">
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}
    {{/get}}

    <h2 class="section-title">Latest reference</h2><a class="view-all" href="/notes">view all notes ▷</a>
    {{#get "posts" include="tags" limit='5' filter="tags:notes"}}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <div class="post-excerpt">
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}
    {{/get}}

      {{pagination}}
    </main>
  </div>