{{!< default}}
<div class="container clearfix">
  <main role="main" class="content">
    {{#get "posts" include="tags" limit='all' filter="tags:writing"}}
    <h2 class="section-title">Latest writing</h2><a class="view-all" href="/writing">view all <span class="all-count">{{posts.length}}</span> ▷</a>
    {{#get "posts" include="tags" limit='8' filter="tags:writing"}}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <div class="post-excerpt">
          {{#tags.[1]}}<div><img class="notes-img" src="https://res.cloudinary.com/cdvel/image/upload/v1600263035/icons/{{name}}.svg"></div>{{/tags.[1]}}
          <h1 class="post-title"><a href="{{url}}">{{title}}</a><span class="star">{{#if featured}}✦{{/if}}</span></a></h1>
          <div class="post-info">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}
    {{/get}}
    {{/get}}
    {{#get "posts" include="tags" limit='all' filter="tags:books"}}
    <h2 class="section-title">Book notes</h2><a class="view-all" href="/books">view all <span class="all-count">{{posts.length}}</span> ▷</a>
    <div class="books-grid">
    {{#get "posts" include="tags" limit='6' filter="tags:books"}}
    {{#foreach posts}}
    <article class="{{post_class}} article-book" style='background-image: url("https://cdv.im/{{slug}}-cover");'>
        <div class="post-excerpt excerpt-book">
          <h1 class="post-title title-book"><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info info-book">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}
    </div>
    {{/get}}
    {{/get}}
    {{#get "posts" include="tags" limit='all' filter="tags:notes"}}
    <h2 class="section-title">Technical notes</h2><a class="view-all" href="/notes">view all <span class="all-count">{{posts.length}}</span> ▷</a>
    <div class="reference-grid">
    {{#get "posts" include="tags" limit='6' filter="tags:notes"}}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <div class="post-excerpt">
          <div>
            <img class="notes-img" src="https://res.cloudinary.com/cdvel/image/upload/v1600263035/logos/{{slug}}.svg" onerror="this.src='https://res.cloudinary.com/cdvel/image/upload/v1600263035/logos/note.svg'">
          </div>
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info">
            <div class="post-meta">
              {{tags from="2" separator=" " prefix=""}}
            </div>
          </div>
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
        </div>
      </article>
      {{/foreach}}
    </div>
    {{/get}}
    {{/get}}
    </main>
  </div>