{{!< default}}
<div class="container clearfix">
  <main role="main" class="content">
    {{#foreach posts}}
    <article class="{{post_class}}">
      {{!-- <a href="{{url}}" title="{{title}}"> --}}
        {{!-- <a href="{{url}}" title="{{title}}">
          <img src="{{img_url feature_image}}&w=160" class="post-img" alt="{{title}}">
        </a> --}}
        {{!-- <footer class="post-info" hidden>Posted on <span class="post-meta"><time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time> {{tags separator=" // " prefix="Tagged in "}}</span></footer> --}}
        <div class="post-excerpt">
          <h1><a href="{{url}}">{{title}}</a></h1>
          <div class="post-info"> 
            <div class="post-meta">
              {{tags separator=" " prefix=""}}
            </div>
          </div>          
          <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ Read more</a></div>
        </div>
   

        <!-- <a class="read-more" style="float: right;"  href="{{url}}" title="{{title}}">Read more &raquo;</a> -->
      </article>
      {{/foreach}}
      {{pagination}}
    </main>
  </div>