{{!< default}} <div class="container clearfix">
    <main role="main" class="content">
        <div class="page-template no-index">
            <h1>📓 Notes </h1>
            <code>My collection of quick notes, how-tos, reference material, and guides on practical subjects.</code>
        </div>
        <hr/>
        <div class="reference-grid">
        {{#get "posts" include="tags" limit='all' filter="tags:notes"}}
        {{#foreach posts}}
        <article class="{{post_class}}">
            <div class="post-excerpt">
              <div>
                <img class="notes-img" src="{{img_url feature_image size='small'}}">
              </div>
              <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
              <div class="post-info">
                <div class="post-meta">
                  {{tags from="2" separator=" " prefix=""}}
                </div>
              </div>
              <div class="excerpt">{{excerpt characters="260"}}&hellip;<a class="read-more" href="{{url}}">▷ read more</a></div>
            </div>
          </article>
          {{/foreach}}
        {{/get}}
        </div>
    </main>
    </div>
