{{!< default}}

<div class="container clearfix">
  <main role="main" class="content">
    {{#post}}
      <h1><a href="{{url}}" title="{{title}}">{{title}}</a></h1>
      <footer class="post-info no-index"><span class="post-meta">{{tags separator=" " prefix=""}}</span></footer>
      <div class="post-content">
      {{content}}
      </div>
    </article>
    {{/post}}
  </main>
</div>