{{!< default}}
<div class="container clearfix">
	<main role="main" class="content">
		<a class="btn" href="{{@blog.url}}" title="Back to homepage">&laquo; Back to home</a>
		<div class="tag-title">
			<h1>{{tag.name}}</h1>
			<p>{{tag.description}}</p>
		</div>
		{{#foreach posts}}
		<article class="{{post_class}} post">
			<a href="{{url}}" title="{{title}}">
				<img src="{{img_url feature_image}}&w=160" class="post-img">
			</a>
			<h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
	        <div class="excerpt">{{excerpt words="48"}}&hellip;</div>
			<footer class="post-info">Last Update <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time>
				{{!-- <span class="post-meta">{{tags separator=" // " prefix=" in "}}</span> --}}
			</footer>
			{{!-- <footer class="post-info">Posted on <span class="post-meta"> {{tags separator=", " prefix="Tagged in "}}</span></footer> --}}
			{{!-- <p>{{excerpt words="26"}}&hellip;</p> --}}
			<!-- <a class="read-more" style="float: right;"  href="{{url}}" title="{{title}}">Read more &raquo;</a> -->
		</article>
		{{/foreach}}
		{{pagination}}
	</main>
</div>